include LICENSE *.rst *.toml *.yml *.yaml *.ini
graft src
graft .github

# Tests
recursive-include tests *.py
recursive-include tests *.yml

# Documentation
include docs/Makefile docs/docutils.conf
recursive-include docs *.png
recursive-include docs *.svg
recursive-include docs *.py
recursive-include docs *.rst
prune docs/_build

# Data files
recursive-include data *
